#circularG{
    position:relative;
    width:50px;
    height:50px;
    margin: 150px auto 0;
}

.circularG{
    position:absolute;
    background-color:#5f1c0c;
    width:11px;
    height:11px;
    -moz-border-radius:8px;
    -moz-animation-name:bounce_circularG;
    -moz-animation-duration:1.04s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:normal;
    -webkit-border-radius:8px;
    -webkit-animation-name:bounce_circularG;
    -webkit-animation-duration:1.04s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -o-border-radius:8px;
    -o-animation-name:bounce_circularG;
    -o-animation-duration:1.04s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:normal;
    -ms-border-radius:8px;
    -ms-animation-name:bounce_circularG;
    -ms-animation-duration:1.04s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:normal;
    border-radius:8px;
    animation-name:bounce_circularG;
    animation-duration:1.04s;
    animation-iteration-count:infinite;
    animation-direction:normal;
}

#circularG_1{
    left:0;
    top:20px;
    -moz-animation-delay:0.39s;
    -webkit-animation-delay:0.39s;
    -o-animation-delay:0.39s;
    -ms-animation-delay:0.39s;
    animation-delay:0.39s;
}

#circularG_2{
    left:5px;
    top:5px;
    -moz-animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
    -o-animation-delay:0.52s;
    -ms-animation-delay:0.52s;
    animation-delay:0.52s;
}

#circularG_3{
    top:0;
    left:20px;
    -moz-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -o-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    animation-delay:0.65s;
}

#circularG_4{
    right:5px;
    top:5px;
    -moz-animation-delay:0.78s;
    -webkit-animation-delay:0.78s;
    -o-animation-delay:0.78s;
    -ms-animation-delay:0.78s;
    animation-delay:0.78s;
}

#circularG_5{
    right:0;
    top:20px;
    -moz-animation-delay:0.91s;
    -webkit-animation-delay:0.91s;
    -o-animation-delay:0.91s;
    -ms-animation-delay:0.91s;
    animation-delay:0.91s;
}

#circularG_6{
    right:5px;
    bottom:5px;
    -moz-animation-delay:1.04s;
    -webkit-animation-delay:1.04s;
    -o-animation-delay:1.04s;
    -ms-animation-delay:1.04s;
    animation-delay:1.04s;
}

#circularG_7{
    left:20px;
    bottom:0;
    -moz-animation-delay:1.17s;
    -webkit-animation-delay:1.17s;
    -o-animation-delay:1.17s;
    -ms-animation-delay:1.17s;
    animation-delay:1.17s;
}

#circularG_8{
    left:5px;
    bottom:5px;
    -moz-animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
    -o-animation-delay:1.3s;
    -ms-animation-delay:1.3s;
    animation-delay:1.3s;
}

@-moz-keyframes bounce_circularG{
    0%{
        -moz-transform:scale(1)}

    100%{
        -moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
    0%{
        -webkit-transform:scale(1)}

    100%{
        -webkit-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
    0%{
        -o-transform:scale(1)}

    100%{
        -o-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
    0%{
        -ms-transform:scale(1)}

    100%{
        -ms-transform:scale(.3)}

}

@keyframes bounce_circularG{
    0%{
        transform:scale(1)}

    100%{
        transform:scale(.3)}

}
