body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ffffff;
	color: #5f1c0c;
}
.logo img {
	position: absolute;
	top: 0;
	left: 47%;
}
@font-face {
    font-family: C_BOX; 
    src: url(../fonts/C_BOX.TTF);
}
.text {
	font-size: 195%;
	font-family: C_BOX;
	color: #5f1c0c;
	margin-top: 150px;
}



.login input{
	margin: 10px;
	width: 250px;
	height: 30px;
	font-size: 18px;
	padding-left: 5px;
}

input[type="text"] {
	color: #5f1c0c;
}

.login {
	margin-top: 50px;
}
.button1 {
	color: #ffffff;
	background-color: #5f1c0c;
	cursor: pointer;
	border-style: none;
}
.button1:hover {
	color: #5f1c0c;
	background-color: #c69d71;	
	border: 2px solid #5f1c0c;
}
.button2 {
	color: #5f1c0c;
	background-color: #ffffff;
	cursor: pointer;
	border: 2px solid #5f1c0c;
}
.button2:hover {
	color: #5f1c0c;
	background-color: #c69d71;	
	border: 2px solid #5f1c0c;
}
hr {
	display: inline-block;
}