body {
    background: #fff;
}
.tabs{
    display:table;
    width: 960px;
    margin: 0 auto;
}
.tabs > div{
    padding-top:10px;
}
.tabs ul.ul-tabs{
    margin:0px;
    padding:0px;
}
.tabs ul.ul-tabs:after{
    content:"";
    display:block;
    clear:both;
    height:5px;
    background:#5f1c0c;
}
.tabs ul.ul-tabs li{
    margin:0px;
    padding:0px;
    cursor:pointer;
    display:block;
    float:left;
    padding:10px 15px;
    background:#fff;
    color:#707070;
    width: 130px;
}
.tabs ul.ul-tabs li.active, .tabs ul.ul-tabs li.active:hover{
    background:#5f1c0c;
    color:#fff;
}
.tabs ul.ul-tabs li:hover{
    background: #fff;
}

.table {
    border: 1px solid #5f1c0c;
    width: 100%;
    margin: 0 auto;
    color: #5f1c0c;
}

td {
    border: 1px solid #5f1c0c;
}

.over {
    display: none;
    background-color: #000; /* Чёрный фон */
    height: 100%; /* Высота максимальна */
    left: 0; /* Нулевой отступ слева */
    opacity: 0.50; /* Степень прозрачности */
    position: fixed; /* Фиксированное положение */
    top: 0; /* Нулевой отступ сверху */
    width: 100%; /* Ширина максимальна */
    z-index: 100; /* Заведомо быть НАД другими элементами */
}

.dialog {
    display: none;
    background: white;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 101;
    left: 25%;
    top: 40%;
    border-radius: 5px;
    text-align: center;
    padding: 30px;

}

.hide {
    display: none;
}

input[type="text"], select, textarea{

    border: 1px solid #5f1c0c;
    background: #ffffff;
    color: #444;
    width: 350px;


}

input[type="submit"], input[type="button"] {

    border: 0;
    background: #5f1c0c;
    color: #ffffff;
    width: 80px;
    height: 28px;

}