body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ffffff;
	color: #5f1c0c;
}
.logo img {
	position: absolute;
	top: 0;
	left: 47%;
}
.vyveska img {
	position: fixed;
	right: 0px;
	top: 50px;
}
@font-face {
    font-family: C_BOX; 
    src: url(../fonts/C_BOX.TTF);
}
.text {
	font-size: 195%;
	font-family: C_BOX;
	color: #5f1c0c;
	margin-top: 150px;
}
.menu_button img {
	position: fixed;
	top: 30px;
	left: 4.5%;
	cursor: pointer;
}
#block {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 150px;
	height: 90px;
	background: #5f1c0c;
}
#menu {
	display: none;
	position: fixed;
	background: #5f1c0c;
	width: 150px;
	top: 90px; 
	left: 0;
	border-collapse: collapse;
}
.submenu a {
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
	padding: 0.3em;
	text-decoration: none;
	display: block;
}
.submenu a:hover {
	color: #5f1c0c;
	background-color: #c69d71;
}
.submenu a:active {
	color: #5f1c0c;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.right{
	float: left;
	width: 50%;
}
.main {
	margin-top: 50px;
}
.img {
	float: left;
	margin-left: 150px;
}
.table {
	float: left;
}
table {
	top: 80px;
	color: #5f1c0c;
	float: left;
}
#table td {
	padding: 5px 10px;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.border{
	border: 1px solid #5f1c0c;
	border-radius: 5px;
	margin-top: 10px;
	padding: 10px;
	width: 450px;
	
}
.description {
	margin-top: 240px;
	margin-left: 150px;
}
.tag {
	margin-top: 20px;
	margin-left: 150px;
}
.tags {
	margin-top: 10px;
	margin-left: 10px;
	font-style: italic;
}
.left {
	margin-top: 50px;
	float: left;
	width: 50%;
}
.marks, .note, .comment {
	margin-left: 50px;
}
.mark {
	padding-top: 10px;
}
.note {
	margin-top: 20px;
}
textarea {
	margin-top: 10px;
	color: #5f1c0c;
}
input[type="submit"]{
	font-size: 16px;
	margin-left: 326px;
	margin-top: 10px;
}
.add {
	color: #ffffff;
	background-color: #5f1c0c;
	cursor: pointer;
	border: 2px solid #5f1c0c;
}
.add:hover {
	color: #5f1c0c;
	background-color: #c69d71;	
	border: 2px solid #5f1c0c;
}
.comment {
	border: 1px solid #5f1c0c;
	width: 30%;
	border-radius: 5px;
	padding: 10px;
	margin-top: 25px;
	font-style: italic;
}