body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ffffff;
}
.logo img {
	position: absolute;
	top: 0;
	left: 47%;
}
.vyveska img {
	position: fixed;
	right: 0px;
	top: 50px;
}
@font-face {
    font-family: C_BOX; 
    src: url(../fonts/C_BOX.TTF);
}
.text {
	font-size: 195%;
	font-family: C_BOX;
	color: #5f1c0c;
	margin-top: 150px;
}
.menu_button img {
	position: fixed;
	top: 30px;
	left: 4.5%;
	cursor: pointer;
}
#block {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 150px;
	height: 90px;
	background: #5f1c0c;
}
#menu {
	display: none;
	position: fixed;
	background: #5f1c0c;
	width: 150px;
	top: 90px; 
	left: 0;
	border-collapse: collapse;
}
.submenu a {
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
	padding: 0.3em;
	text-decoration: none;
	display: block;
}
.submenu a:hover {
	color: #5f1c0c;
	background-color: #c69d71;
}
.submenu a:active {
	color: #5f1c0c;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.main {

	margin-top: 5%;
	width: 95%;
	margin-left: 2.5%;
}
#char {
	float: left;
	margin-left: 100px;
	color: #5f1c0c;
}
#add_search {
	float: left;
	border-spacing: 20px;
	padding-left: 80px;
}
select {
	border-radius: 5px;
	border-color: #5f1c0c;
	border-width: 2px;
	font-size: 14px;
	padding: 1px;
	cursor: pointer;
	outline: none;
}
option {
	color: #5f1c0c;
}
.characteristics select:active {
	list-style: none;
	text-shadow: 0 0 1em #5f1c0c;
}
td>input {
	border-radius: 5px;
	border-color: #5f1c0c;
	color: #5f1c0c;
	font-size: 16px;
	padding: 5px;
	outline: none;
}
.button {
	color: #fffcfd;
	background-color: #5f1c0c;
	font-weight: bold;
	cursor: pointer;
	border-style: none;
}
.hover input:hover {
	color: #5f1c0c;
	background-color: #c69d71;	
	border: 2px solid #5f1c0c;
}
.hover input:active {
	text-shadow: 0 0 1em #ffffff;
}

