body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ffffff;
}
.logo img {
	position: absolute;
	top: 0;
	left: 47%;
}
.vyveska img {
	position: fixed;
	right: 0px;
	top: 50px;
}
@font-face {
    font-family: C_BOX; 
    src: url(fonts/C_BOX.ttf);
}
.text {
	font-size: 195%;
	font-family: C_BOX;
	color: #5f1c0c;
	margin-top: 150px;
}
.menu_button img {
	position: fixed;
	top: 30px;
	left: 4.5%;
	cursor: pointer;
}
#block {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 150px;
	height: 90px;
	background: #5f1c0c;
}
#menu {
	display: none;
	position: fixed;
	background: #5f1c0c;
	width: 150px;
	top: 90px; 
	left: 0;
	border-collapse: collapse;
}
.submenu a {
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
	padding: 0.3em;
	text-decoration: none;
	display: block;
}
.submenu a:hover {
	color: #5f1c0c;
	background-color: #c69d71;
}
.submenu a:active {
	color: #5f1c0c;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}