body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ffffff;
}
.logo img {
	position: absolute;
	top: 0;
	left: 47%;
}
.vyveska img {
	position: fixed;
	right: 0px;
	top: 50px;
}
@font-face {
    font-family: C_BOX; 
    src: url(../fonts/C_BOX.TTF);
}
.text {
	font-size: 195%;
	font-family: C_BOX;
	color: #5f1c0c;
	margin-top: 150px;
}
.menu_button img {
	position: fixed;
	top: 30px;
	left: 4.5%;
	cursor: pointer;
}
#block {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 150px;
	height: 90px;
	background: #5f1c0c;
}
#menu {
	display: none;
	position: fixed;
	background: #5f1c0c;
	width: 150px;
	top: 90px; 
	left: 0;
	border-collapse: collapse;
	z-index: 100;
}
.submenu a {
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
	padding: 0.3em;
	text-decoration: none;
	display: block;
}
.submenu a:hover {
	color: #5f1c0c;
	background-color: #c69d71;
}
.submenu a:active {
	color: #5f1c0c;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.table {
	width: 50%;
}
.main table {
	position: relative; 
	left: 30%;
	top: 15px;
	color: #5f1c0c;
	float: left;
}
#table td {
	padding: 0 10px;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.activity {
	margin: 200px 110px;
	color: #5f1c0c;
}
.rating, .recom{
	border: 1px solid #5f1c0c;
	height: 193px;
	border-radius: 5px;
	margin-top: 10px;
}
.left {
	float: left;
	margin-left: 50px;
}
.rating_1 {
	float: left;
	padding: 2px;
	margin: 2px 20px;
}
.mark {
	text-align: center;
	margin-top: 7px;
}



