.list {
    display: inline-block;
    list-style-type: none;
    width: 10000000000px;
    text-align: left;
    background: #fff bottom left no-repeat;
}
.list li {
    display: inline-block;
    width: 53px;
    margin: 0px 25px 0px 0px;
    position: relative;
	vertical-align: bottom;
}
.next, .prev {
	display: block;
	position: absolute;
	width: 34px;
	height: 50px;
    cursor: pointer;
}
.next {
    margin-top: -120px;
    right: 20%;
    background: url('../img/arrow_right.png');
}
.prev {
    margin-top: 65px;
    left: 20%;
    background: url('../img/arrow_left.png');
}
.scroll {
	display: none;
	width: 600px;
	overflow: hidden;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}