body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ffffff;
	color: #5f1c0c;
}
.logo img {
	position: absolute;
	top: 0;
	left: 47%;
}
@font-face {
    font-family: C_BOX; 
    src: url(fonts/C_BOX.ttf);
}
.text {
	font-size: 195%;
	font-family: C_BOX;
	color: #5f1c0c;
	margin-top: 150px;
}
.table{
	margin-top: 40px;
}
input[type="text"],input[type="password"] {
	width: 250px;
	height: 30px;
	font-size: 18px;
	padding-left: 5px;
	color: #5f1c0c;
}

.login input{
	margin: 10px;
	width: 250px;
	height: 30px;
	font-size: 18;
	padding-left: 5px;
}
.login {
	margin-top: 20px;
}
.button {
	color: #ffffff;
	background-color: #5f1c0c;
	cursor: pointer;
	border-style: none;
}
.button:hover {
	color: #5f1c0c;
	background-color: #c69d71;	
	border: 2px solid #5f1c0c;
}